<div class="animated fadeIn">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-align-justify"></i> Sub-asset List
          </div>
          <div class="card-body">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Action</th>
                  <th>Sub Assets Code</th>
                  <th>Description</th>
                  <th>Image</th>
                  <th>UOM</th>
                  <th>Inspection Type</th>
                  <th>Expected Result</th>
                  <th>Observations</th>
                  <th>Repair</th>
                  <th>Status</th>
                  <th>Featured Image</th>
                  <th>Date</th>
                  </tr>
              </thead>
              <tbody>
                <tr role="row">
                  <td class="sorting_1">
                    <input type="checkbox" name="bulk_select" class="multi-select" id="39012"
                      value="39012">&nbsp;&nbsp;&nbsp;
                    <a class="text-primary" href="http://arresto.in/connect/karam/kare/manage_kare/edit_assets/39012">
                      <span class="glyphicon glyphicon-pencil"></span></a>&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="http://arresto.in/connect/karam/kare/manage_kare/delete_component/39012"
                      class="text-danger delete"><span class="glyphicon glyphicon-trash"></span></a>
                  </td>
                  <td style="width: 87px;">ELASTIC WEBBING</td>
                  <td style="width: 150px;">ELASTIC WEBBING</td>
                  <td style="width: 80px;">
                  </td>
                  <td>
                    <p>NOS</p>
                  </td>
                  <td>
                    <p>Visual</p>
                  </td>
                  <td>
                    <p>No Cut/nicks/tear Should Be Found</p>
                    <hr>
                    <p>No Fraying/ Discoloration Should Be Found</p>
                    <hr>
                    <p>No Uneven Thickness/ Undue Stretching Should Be Found</p>
                    <hr>
                  </td>
                  <td>
  
                    <p>Ok</p>
                    <hr>
                    <p>Cuts Found</p>
                    <hr>
                    <p>Nick Found</p>
                    <hr>
                    <p>Tear Found</p>
                    <hr>
                    <p>Discolouration Observed</p>
                    <hr>
                    <p>Fraying Found</p>
                    <hr>
                    <p>Undue Stretching Found</p>
                    <hr>
                    <p>Webbing Thickness Found Uneven</p>
                    <hr>
                  </td>
                  <td>
                    NO </td>
                  <td>
                    <font color="red">Inactive</font>
                  </td>
                  <td>
                    <font color="green">Active</font>
                  </td>
                  <td>
                    <a href="http://arresto.in/connect/manage_kare/upload_featured_images?type=asset&amp;id=39012">Featured
                      Image</a> </td>
                  <!--<td></td>-->
                </tr>
                <tr role="row" >
                    <td class="sorting_1">
                      <input type="checkbox" name="bulk_select" class="multi-select" id="39012"
                        value="39012">&nbsp;&nbsp;&nbsp;
                      <a class="text-primary" href="http://arresto.in/connect/karam/kare/manage_kare/edit_assets/39012">
                        <span class="glyphicon glyphicon-pencil"></span></a>&nbsp;&nbsp;&nbsp;&nbsp;
                      <a href="http://arresto.in/connect/karam/kare/manage_kare/delete_component/39012"
                        class="text-danger delete"><span class="glyphicon glyphicon-trash"></span></a>
                    </td>
                    <td style="width: 87px;">ELASTIC WEBBING</td>
                    <td style="width: 150px;">ELASTIC WEBBING</td>
                    <td style="width: 80px;">
                    </td>
                    <td>
                      <p>NOS</p>
                    </td>
                    <td>
                      <p>Visual</p>
                    </td>
                    <td>
                      <p>No Cut/nicks/tear Should Be Found</p>
                      <hr>
                      <p>No Fraying/ Discoloration Should Be Found</p>
                      <hr>
                      <p>No Uneven Thickness/ Undue Stretching Should Be Found</p>
                      <hr>
                    </td>
                    <td>
    
                      <p>Ok</p>
                      <hr>
                      <p>Cuts Found</p>
                      <hr>
                      <p>Nick Found</p>
                      <hr>
                      <p>Tear Found</p>
                      <hr>
                      <p>Discolouration Observed</p>
                      <hr>
                      <p>Fraying Found</p>
                      <hr>
                      <p>Undue Stretching Found</p>
                      <hr>
                      <p>Webbing Thickness Found Uneven</p>
                      <hr>
                    </td>
                    <td>
                      NO </td>
                    <td>
                      <font color="red">Inactive</font>
                    </td>
                    <td>
                      <font color="green">Active</font>
                    </td>
                    <td>
                      <a href="http://arresto.in/connect/manage_kare/upload_featured_images?type=asset&amp;id=39012">Featured
                        Image</a> </td>
                    <!--<td></td>-->
                  </tr>
  
              </tbody>
            </table>
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="#">Prev</a></li>
              <li class="page-item active">
                <a class="page-link" href="#">1</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">4</a></li>
              <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!--/.col-->
    </div>
    <!--/.row-->
  </div>